// Place all the styles related to the public::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
  color: #212529;
  font-size:14px;
}

.root-link a, .login-link a  {
  color: #212529;
}

.root-link a:hover, .login-link a:hover {
  color: #212529;
  text-decoration: underline;
}

.bottom-line {
  border-bottom: solid 2px #000022;
}

.shared-links a {
  text-decoration: none;
  color: #212529;
  &:hover {
    text-decoration: underline;
    color: #212529;
  }
}
.link-text {
  text-decoration: none;
  color: #212529;
  &:hover {
    text-decoration: underline;
    color: #212529;
  }
}