// Place all the styles related to the public::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
  color: #212529;
  font-size:14px;
}

.sns-btn {
  width: 100%;
}

.root-link a, .login-link a  {
  color: #212529;
}

.root-link a:hover, .login-link a:hover {
  color: #212529;
  text-decoration: underline;
}

.bottom-line {
  border-bottom: solid 2px #000022;
}

.shared-links a {
  text-decoration: none;
  color: #212529;
  &:hover {
    text-decoration: underline;
    color: #212529;
  }
}
.link-text {
  text-decoration: none;
  color: #212529;
  &:hover {
    text-decoration: underline;
    color: #212529;
  }
}

th {
  padding: 8px 6px;
}



// snsログインボタンの装飾
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;
  border: solid 1px;
  color: #000;
  border-radius: 5px;
  background: #f9f9f9;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 700%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


