<div class="col-md-1 offset-md-1">
 <%= attachment_image_tag member, :image, size:"50x50", fallback:"no_image_icon.jpg"%><br>
</div>
<div class="col-md-10">
 <div class="answer-box">
   <%= form_with model: [question, answer], local: true do |f| %>
    <%= f.text_area :content, placeholder:"あなたの回答で質問者の悩みを解決しましょう。", class:"w-100", rows:5, 'data-provider1': :summernote %>
    <%= f.submit "回答する", class:"btn btn-primary text-items-center" %>
   <% end %>
 </div>
</div>