<div class="container mb-5">
  <div class="row">
    <div class="col-md-12">
      <div class="box mt-5">
        <%= link_to about_path do %>
       <h1 class=" text-center display-2 font-weight-bold">
          WELCOME TO
          <span class="site-title-front">Answer</span><span class="site-title-back">.ly</span>
        </h1>
       <% end %>
      <div class="top-title">
        <h2>製作背景</h2></h2>
      </div>
    </div>
  </div>
</div>