<% unless member_signed_in? %>
  <%= render "public/homes/top" %>
<% end %>

<div class="container">
 <div class="row">
   <div class="col-md-9 mt-5">
     <div class="questions-index">
      <%= render "public/questions/list", questions: @questions %>
     </div>
   </div>
   <div class="col-md-3">
     <div class="tag-index mb-5 mt-5">
      <%= render "public/tags/list", tags: @tags %>
     </div>
     <div class="ranking-index mb-5">
       <%= render "public/members/list", members: @members %>
     </div>
   </div>
 </div>
</div>