<div class="questions-content offset-md-2">
  <h3><%== question.content %></h3>
</div>
<div class="mt-5 d-flex">
  <% if current_member != question.member %>
    <div id="question_likes">
      <%= render "public/questions/like", question: @question %>
    </div>
  <% else %>
    <% unless @question.best_answer_id%>
    <%= link_to "編集する", edit_question_path(question), class:"btn btn-success ml-auto mr-2" %>
    <%= link_to "削除する", question_path(question), method: :delete, class:"btn btn-danger mr-2", "data-confirm" => "削除してよろしいでしょうか？" %>
    <% end %>
  <% end %>
</div>
