<%= image_tag "answer.ly_logo.png", :size => "200x120", alt:"Answer.lyロゴ" %>

<P>Answer.lyをご利用頂きありがとうございます。<br>
以下のURLをクリックし、パスワードを再設定してください。</P>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>＊このメールにお心当たりのない方は、大変お手数ですが、<br>
下記の下記のお問い合わせフォームからご連絡ください。</p>

<p><%= link_to 'お問い合わせ', new_contact_path %></p>