<% tags.each do |tag| %>
  <div class="d-flex">
    <div class="tag-list mt-3 mb-1">
      <%= link_to tag_path(tag) do%>
         <p class="btn btn-outline-primary ml-2 mb-0"><%= tag.name %></p>
      <% end %>
    </div>
    <div class="mt-3 d-flex align-items-center ml-auto">
      <h6 class="mb-0">投稿数:<%= tag.questions.count %></h6>
    </div>
  </div>
  <div class="border-bottom"></div>
<% end %>
<p class="text-right"><%= link_to "タグ一覧へ", tags_path, class:"link-text" %></p>