<% visitor = notification.visitor %>
<% question = notification.question %>

<div class="member-view clearfix border rounded mb-2">
  <%= attachment_image_tag visitor, :image, size:"25x25", fallback:"no_image_icon.jpg", class:"mr-1 profile-img-circle" %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@answer.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @answer %></p>
  <% end %>
</div>