<% unless member_signed_in? %>
<div class="top-box">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="top-title mb-0">
        <p>留学したい人を応援するQ&Aサイト</p>
        <h1>Answer.ly</h1>
        <h2>留学の不安を取り除こう</h2>
        <p>Answer.ly(アンサリー)は、留学に関する質問と回答を通して、</p>
        <p>留学に対する不安をなくしつつ、留学経験者・海外在住と繋がろう</p>
        </div>
      </div>
      <div class="col-md-5">

      </div>
    </div>
  </div>
</div>

<% end %>